.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.outerdivMFPage{
    width: 60%;
}

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20% 0 20% 0;
}