.score-row-120 { background-color: hsl(0, 100%, 85%); }
.score-row-110 { background-color: hsl(10, 100%, 85%); }
.score-row-100 { background-color: hsl(20, 100%, 85%); }
.score-row-90 { background-color: hsl(30, 100%, 85%); }
.score-row-80 { background-color: hsl(40, 100%, 85%); }
.score-row-70 { background-color: hsl(50, 100%, 85%); }
.score-row-60 { background-color: hsl(60, 100%, 85%); }
.score-row-50 { background-color: hsl(70, 100%, 85%); }
.score-row-40 { background-color: hsl(80, 100%, 85%); }
.score-row-30 { background-color: hsl(90, 100%, 85%); }
.score-row-20 { background-color: hsl(100, 100%, 85%); }
.score-row-10 { background-color: hsl(110, 100%, 85%); }
.score-row-0 { background-color: hsl(120, 100%, 85%); }

/* Optional text color fix for visibility */
[class^="score-row-"] {
  color: black;
  border-top: 1px solid rgb(62, 62, 62);
  /* border-bottom: 1px solid rgb(62, 62, 62); */
}

.MuiDataGrid-root{
    border-radius: 1px solid rgb(0, 0, 0);
}

.MuiDataGrid-cell {
  border: none; /* Divider between cells */
}
.tablebox{
  width: 75%;
}

/* Optional: Remove the last column's right border */
.MuiDataGrid-columnHeader:last-of-type,
.MuiDataGrid-cell:last-of-type {
  border-right: none;
}

.MuiDataGrid-columnHeaderTitle,.css-1rxsvxt{
  font-size: large;
  font-weight: bolder;
}


.MuiDataGrid-columnHeaders{
  border-bottom: 1px solid rgb(62, 62, 62);
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: white;
  /* border-bottom: 1px solid gray; */
  z-index: 2000; /* keep above DataGrid and Drawer */
  overflow-x: hidden; /* prevent horizontal scroll */
  
}

.navbar > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3% 1%;
  margin: 0;
  list-style: none;
  flex-wrap: wrap; /* prevents overflow on small screens */
}

.navbar > ul > li {
  flex: 0 0 auto;
}

.navbar img {
  max-width: 100%;
  height: auto;
  display: block;
}


@media (max-width: 1000px){
  .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;


}
.tableOuter{
  padding-bottom: 70%;
  margin-top: 5%;
 
}
}

@media (max-width: 780px){
  .tablebox{
    width: 100%;
  }
  
}