.bgimage{
    background-image: url("pxfuel.jpg");
    border-bottom-left-radius: 100px; /* Adjust value as needed */
    border-bottom-right-radius: 100px;
    height: 700px;
    background-size: cover; /* or other background-size values */
  background-position: center;
  color: white;
  position: relative;

  margin-bottom: 20%;
  padding-bottom: 20%;
  
    
}
.index-module_type__E-SaG{
  font-size: 2.5vw;
}

@media (max-width: 1000px){
  .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;


}
}

@media (max-width: 768px){
  .footer {
    position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}
}